In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
# 读取数据
# 假设附件2为销售数据，附件3为批发价格数据
sales_data = pd.read_excel('./附件2.xlsx')
wholesale_data = pd.read_excel('./附件3.xlsx')

In [2]:
# 数据预览
(sales_data.head())

        销售日期        扫码销售时间             单品编码  销量(千克)  销售单价(元/千克) 销售类型 是否打折销售
0 2020-07-01  09:15:07.924  102900005117056   0.396         7.6   销售      否
1 2020-07-01  09:17:27.295  102900005115960   0.849         3.2   销售      否
2 2020-07-01  09:17:33.905  102900005117056   0.409         7.6   销售      否
3 2020-07-01  09:19:45.450  102900005115823   0.421        10.0   销售      否
4 2020-07-01  09:20:23.686  102900005115908   0.539         8.0   销售      否

In [3]:

(wholesale_data.head())

          日期             单品编码  批发价格(元/千克)
0 2020-07-01  102900005115762        3.88
1 2020-07-01  102900005115779        6.72
2 2020-07-01  102900005115786        3.19
3 2020-07-01  102900005115793        9.24
4 2020-07-01  102900005115823        7.03

In [4]:

# 数据基本统计信息
(sales_data.describe())

,销售日期,单品编码,销量(千克),销售单价(元/千克)
count,878503,8.785030e+05,878503.000000,878503.000000
mean,2021-11-20 20:11:55.407914752,1.030313e+14,0.536112,8.917144
min,2020-07-01 00:00:00,1.029000e+14,-9.082000,0.100000
25%,2021-02-06 00:00:00,1.029000e+14,0.290000,4.900000
50%,2021-10-11 00:00:00,1.029000e+14,0.435000,7.900000
75%,2022-09-10 00:00:00,1.029000e+14,0.742000,10.800000
max,2023-06-30 00:00:00,1.069740e+14,160.000000,119.900000
std,NaN,7.174368e+11,0.400087,6.311265

In [5]:

(wholesale_data.describe())

                                  日期          单品编码    批发价格(元/千克)
count                          55982  5.598200e+04  55982.000000
mean   2022-01-11 06:32:26.940088064  1.030449e+14      5.962620
min              2020-07-01 00:00:00  1.029000e+14      0.010000
25%              2021-05-05 06:00:00  1.029000e+14      2.810000
50%              2022-01-22 00:00:00  1.029000e+14      4.630000
75%              2022-09-12 00:00:00  1.029000e+14      7.570000
max              2023-06-30 00:00:00  1.069740e+14    141.000000
std                              NaN  7.527927e+11      5.067802

In [6]:

# 数据缺失值检查
(sales_data.isnull().sum())

销售日期          0
扫码销售时间        0
单品编码          0
销量(千克)        0
销售单价(元/千克)    0
销售类型          0
是否打折销售        0
dtype: int64

In [7]:

(wholesale_data.isnull().sum())

日期            0
单品编码          0
批发价格(元/千克)    0
dtype: int64

In [8]:
# 销售数据按日期聚合，查看总销售量的时间趋势
sales_data['日期'] = pd.to_datetime(sales_data['日期'])  # 将日期字段转换为日期格式
daily_sales = sales_data.groupby('日期')['销售量'].sum().reset_index()

KeyError: '日期'

In [9]:
import scipy
print(scipy.__version__)

1.14.1